body {
    width: 100%;
}

.container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50em;
    margin-top: 50px;
}

#logo {
    margin-bottom: 50px;
}



input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}